# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore egg-info directory
src/PyBlenderRender.egg-info/

# Ignore virtual environment
venv/
.env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/


